# Added by Payload
# Database connection string
MONGODB_URI="mongodb+srv://baran:ULaFch7ZOoFsXL5r@grovita.rbs6i.mongodb.net/grovita_cms"
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=9494db86ba62219e6f13c5df
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3002